.header-logo {
  max-width: 70px;
  padding: 5px;
}

.about-thumbnail {
  width: 273px !important;
}

.partner-logo img {
  max-width: 100px !important;
}

.footer-right-border {
  border-right: solid 1px #a8a8a8b4;
}

.fancy-thumbnail {
  width: 200px !important;
  height: 150px !important;
  object-fit: cover;
  border-radius: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .it-header-ptb {
    padding: 3px 0 !important;
  }
}

@media (max-width: 576px) {
  .header-logo {
    max-height: 45px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .fancy-thumbnail {
    width: 150px !important;
    height: 100px !important;
  }

  .about-thumbnail {
    width: 300px;
  }

  .partner-logo {
    max-width: 80px !important;
    max-height: 60px;
  }
}
