:root {
  --p7-primary: #007bff;
  --p7-secondary: #6c757d;
  --p7-success: #28a745;
  --p7-danger: #dc3545;
  --p7-warning: #ffc107;
  --p7-info: #17a2b8;
  --p7-light: #f8f9fa;
  --p7-dark: #343a40;
  --p7-light-grey: #f8f8f8;
}

.header-logo {
  max-width: 70px;
  padding: 5px;
}

.about-thumbnail {
  width: 273px !important;
}

.partner-logo img {
  max-width: 100px !important;
}

.footer-right-border {
  border-right: solid 1px #a8a8a8b4;
}

.fancy-thumbnail {
  width: 200px !important;
  height: 150px !important;
  object-fit: cover;
  border-radius: 10px;
}

.fancy-thumbnail-full {
  width: 100% !important;
  height: auto !important;
  object-fit: cover;
  border-radius: 10px !important;
}

.postbox-list ul li span.mission {
  font-family: var(--it-ff-spartan-regular);
  font-size: 14px;
}

.postbox-list ul li span.history {
  font-size: 14px;
}

.organization-btn {
  display: none;
}
.testimonial-shape {
  float: left;
  width: 250px;
  height: 250px;
  margin: 0 20px 10px 0;

  /* bentuk kotak dengan sudut melengkung */
  shape-outside: inset(0 round 15px);
  clip-path: inset(0 round 15px);
}

.testimonial-shape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  /* sudut melengkung */
}

.testimonial-text {
  text-align: justify;
}

.accordion-body::after {
  content: "";
  display: block;
  clear: both;
}

li.timeline-list-title {
  padding-left: 0 !important;
  font-weight: bold !important;
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.post-thumbnail {
  height: 400px; /* tinggi tetap */
  object-fit: cover; /* potong gambar agar proporsional */
}


@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .it-header-ptb {
    padding: 3px 0 !important;
  }
}

@media (max-width: 576px) {
  .post-category {
    margin-left: -25px;
  }
  .post-thumbnail {
    height: 200px; /* tinggi lebih kecil untuk layar kecil */
  }
  .header-logo {
    max-height: 45px;
    padding-top: 0;
    padding-bottom: 0;
    object-fit: contain;
  }

  .organization {
    display: none;
  }

  .organization-btn {
    display: block;
  }

  .fancy-thumbnail {
    width: 150px !important;
    height: 100px !important;
  }

  .about-thumbnail {
    width: 300px;
  }

  .partner-logo {
    max-width: 80px !important;
    max-height: 60px;
  }
}
